$lt-gray: #ddd;
$background-dark:#512DA8;
$background-light:#9575CD;
$background-pale: #D1C4E9;
$modalheader-x-color:floralwhite;
// Height variables
$carousel-item-height:300px;
@mixin zero-margin($pad-up-dn, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-dn $pad-left-right;
}

.row-header {
    @include zero-margin(0px, 0px);
}

.row-content {
    @include zero-margin(0px, 0px);
    min-height: 400px;
}

.footer {
    background-color: $background-pale;
    @include zero-margin(20px, 0px);
}

.jumbotron {
    @include zero-margin(70, 0px);
    background-color: $background-light;
    color: floralwhite;
}

address {
    font-size: 80%;
    @include zero-margin(20px, 0px);
    color: 0f0f0f;
}

.border-bottom {
    border-bottom: "1px ridge";
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: $background-dark;
}

html {
    scroll-behavior: smooth;
}

.tab-content {
    border-left: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    padding: 10px;
}

.carousel {
    background-color: $background-dark;
    margin-top: 50px;
    .carousel-item {
        height: $carousel-item-height;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 300px;
        }
    }
}

#carouselbutton {
    right: 0px;
    bottom: 0px;
    position: absolute;
}

.hoverbtn:hover {
    box-shadow: 2px 4px #7e37ad;
}

.modal-header {
    background-color: $background-dark;
    color: $modalheader-x-color;
    button {
        color: $modalheader-x-color;
        &:hover {
            color: white;
        }
    }
    border-color: $background-dark;
}

.modal-body {
    background-color: $background-light;
    margin-top: 0px;
}